:root 
    --bg #fff7f7
    --container-bg rgb(255, 253, 245)
    --color #080808
    --markdown-color #24292f

// .dark 
//     --bg #061a20
//     --container-bg #002b36
//     --color #fff
//     --markdown-color #efefef


