<div class="footer-info gray">
    <div style="justify-content: center; flex-direction: row; display: flex; align-items:center; gap:0.5em;">
        <!-- <a href="https://github.com/Veivel">github</a>
        <p> • </p>
        <a href="https://veivelp.com">portfolio</a> -->
    </div>
    <div>
        <span>© <%- new Date().getFullYear() %> Veivel Pattiwael. </span>
    </div>
</div>