<% 
    page.layout = "categories";
    page.title = __("categories");
%>

<section class="cates-container">
    <a href="/" class="back-button">Back</a>
    <h1>Categories</h1>
    <%- list_categories() %>
</section>
